{% extends "base.html" %}

{% block buttons %}
<br>
<div class="btn-group" role="group" style="float: right">
    <div class="btn-group" role="group">
        <button button id="userBtnGroup" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User: {{ username }}
        </button>
        <span class="dropdown-menu p-4" aria-labelledby="userBtnGroup">
            <span class="form-group">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>{{ form.username(class_="form-control", size=32) }}</p>
                    <span class="btn-group" role="group">
                        {{ form.view(class_="btn btn-primary") }}
                        {{ form.compare(class_="btn btn-primary") }}
                    </span>
                </form>
            </span>
        </span>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example" data-toggle="modal" data-target="#exampleModal">
        <button type="button" class="btn btn-secondary">View Records</button>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export As...
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/export/{{ username }}.json">JSON</a>
            <a class="dropdown-item" href="/export/{{ username }}.csv">CSV</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}