{% extends "base.html" %}

{% block userbutton %}
<br>
<div class="btn-group" role="group" style="float: right">
    <div class="btn-group" role="group">
        <button button id="userBtnGroup" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users: {{ user1 }}, {{ user2 }}
        </button>
        <span class="dropdown-menu p-4" aria-labelledby="userBtnGroup">
            <span class="form-group">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>{{ form.username(class_="form-control", size=32) }}</p>
                    <span class="btn-group" role="group">
                        {{ form.view(class_="btn btn-primary") }}
                        {{ form.compare(class_="btn btn-primary") }}
                    </span>
                </form>
            </span>
        </span>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col" style="width:50%">
        <canvas id="graph1" class="xpGraph"></canvas>
    </div>

    <div class="col" style="width:50%">
        <canvas id="graph2" class="xpGraph"></canvas>
    </div>
</div>
{% block javascript %}
<script>

Chart.defaults.global.responsive = true;
Chart.defaults.global.maintainAspectRatio = true;

Chart.defaults.global.legend.position='bottom' ;

var chartData1 = {
  labels : JSON.parse({{ xpdata[0][0] | tojson }}),
  datasets : [
    {% for x in range(1,25) %}{
    label: '{{ keys[x] }}',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba({{ xpcolours[x-1] }},0.2)",
    borderColor: "rgba({{ xpcolours[x-1] }},1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba({{ xpcolours[x-1] }},1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba({{ xpcolours[x-1] }},1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data : JSON.parse({{ xpdata[0][x] | tojson }}),
    spanGaps: false
    }{% if x != 25 %},{% endif %}
    {% endfor %}
  ]
}

var chartData2 = {
  labels : JSON.parse({{ xpdata[1][0] | tojson }}),
  datasets : [
    {% for x in range(1,25) %}{
    label: '{{ keys[x] }}',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba({{ xpcolours[x-1] }},0.2)",
    borderColor: "rgba({{ xpcolours[x-1] }},1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba({{ xpcolours[x-1] }},1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba({{ xpcolours[x-1] }},1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data : JSON.parse({{ xpdata[1][x] | tojson }}),
    spanGaps: false
    }{% if x != 25 %},{% endif %}
    {% endfor %}
  ]
}

var ctx1 = document.getElementById("graph1").getContext("2d");

var ctx2 = document.getElementById("graph2").getContext("2d");

// create the chart using the chart canvas
var chart1 = new Chart(ctx1, {
  type: "line",
  data: chartData1,
  scaleFontColor: "#000000",
  options: {
         legend: {
            display: false
         }
    }
});

var chart2 = new Chart(ctx2, {
  type: "line",
  data: chartData2,
  scaleFontColor: "#000000",
  options: {
         legend: {
            display: false
         }
    }
});


</script>
{% endblock %}
<div class="collapse" id="legendCollapse">
    <div class="card card-body">
        <div class="row">
            {% for x in range(0,24) %}
            <script>
                function {{ keys[x+1] }}OnClickListener() {
                        document.querySelectorAll('.xpGraph').forEach((chartItem,index)=>{
                            var chart = Chart.instances[index];
                            var dataItem = chart.data.datasets[{{ x }}]
                            if(dataItem.hidden == false || dataItem.hidden == null){
                                dataItem.hidden = true;
                                document.querySelector('.{{ keys[x+1] }}LegendBox').style.backgroundColor = "white";
                              document.querySelector('.{{ keys[x+1] }}LegendBox').style.color = "black";
                            } else {
                              dataItem.hidden = false;
                              document.querySelector('.{{ keys[x+1] }}LegendBox').style.backgroundColor = "rgb({{ xpcolours[x] }})";
                              document.querySelector('.{{ keys[x+1] }}LegendBox').style.color = "white";
                            }
                            chart.update();
                            })

                }
            </script>
            <span class="{{ keys[x+1] }}LegendBox" style="border-radius: 5px; border: 2px solid rgb({{ xpcolours[x] }}); padding: 2px; margin: 5px; background-color: rgb({{ xpcolours[x] }}); color: white;" onclick="{{ keys[x+1] }}OnClickListener()">
                <span class="small">{{ keys[x+1] }}</span>

            </span>
            {% endfor %}
        </div>
    </div>
</div>
<div class="btn-group" role="group">
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#legendCollapse" aria-expanded="false" aria-controls="collapseExample">
    Legend
  </button>
<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#graphOptionsCollapse" aria-expanded="false" aria-controls="collapseExample">
    Graph Options
  </button>
<div class="btn-group" role="group" aria-label="Basic example" data-toggle="modal" data-target="#exampleModal">
        <button type="button" class="btn btn-secondary">View Records</button>
</div>
    <div class="btn-group dropup" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export As...
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/export/{{ user1 }}.json">{{ user1 }} (JSON)</a>
            <a class="dropdown-item" href="/export/{{ user2 }}.json">{{ user2 }} (JSON)</a>
            <a class="dropdown-item" href="/export/{{ user1 }}.csv">{{ user1 }} (CSV)</a>
            <a class="dropdown-item" href="/export/{{ user2 }}.csv">{{ user2 }} (CSV)</a>
        </div>
    </div>
</div>
<div class="collapse" id="graphOptionsCollapse">
  <div class="card card-body">

  </div>
</div>

{% endblock %}